body{

	background-color:rgb(200,255,200);
	margin:auto;
	width:1000px;
}
	
nav{
	display:floating;
}

ul {    
	list-style-type: none;    
	margin: 0;    
	padding: 8px;    
	overflow: hidden;   
 	background-color: rgb(0,100,250);    
	border-radius: 80px;}
li {    
	float: center;}
li a {    
	display: block;    
	color: rgb(255,255,255);    
	text-align: center; 
	font-family: "Verdana", Sans-serif";   
	padding: 15px 15px;    
	text-decoration: none;    
}
li a:hover:not(.active) {    
background-color: rgb(50,50,100);
}
.active {    
background-color: rgb(200,255,200);    
}
h1{
	font-size:40px;
	font-family: "Lucida Handwriting", Cursive;
	text-align: center;
	text-transform:uppercase;
	color: rgb(0,0,0)
}
/* Three columns side by side */
.column {
  float: left;
  width: 25%;
  margin: 30px;
}
.clearfix {
  overflow: auto;
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgb(0.2,0.5,0.5);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

img{
	height:200px;
	margin-left:20px;
	margin-top:20px;
	margin-bottom:auto;
	margin-right:20px;
}
footer{
	clear:both;
	text-align:center;
	border-top-style:solid;
	border-bottom-style:hidden;
	border-right-style:hidden;
	border-left-style:hidden;
	border-width:2px;
	border-color:rgb(0,0,0);
	border-shadow:2px,rgb(0,0,0);
	width:890px;
	height:150px;
	margin-top:20px;
	margin-bottom:5px;
	margin-left:auto;
	margin-right:auto;
}
#footer-image{
	height:70px;
	width=70px;
	text-align:center;
	float:none;
	margin:15px;
	border-radius:80px;
}
